body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
table{
    width:310px;  
    margin: 50px auto;
    background: #0f0135;
    border: none;
    border-radius: 10px;
    padding: 0px 20px 20px;
    
}
.heading{
    color: white;
    font-size: 130%;
    text-align: center;
}
 #input, #answer {
     width: 260px;
     height: 50px;
     font-size: 180%; 
     text-align: right;
     border: none;

 }
 #input{
     border-radius: 5px 5px 0px 0px;
     box-shadow: 2px 2px 2px black;
     color: #1e1e1e;
 }

 #answer{
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px black;
   
}
input[type=button]{
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 130%;
    color: rgb(1, 2, 54);
    background: whitesmoke;
    margin: 1px;
    border-radius: 8px;
    border: none;
}

input[type=button]:hover{
    background: #f5dc50;
    cursor: pointer;
}